body {
  text-align: center;
  color: blue;
  background-color:red;

}
form {
  text-align: center;
  color: red;
  background-color: white;
}
h1 {
  color: blue;
  text-transform: uppercase;
}

.big-box {
  display: flex;
  justify-content: center;
  align-items: centre;
  height: 60vh;


}

.small-box {
  border-style: solid black;
  border-width: thick;
  padding: 20px
  max-width: 500px;
  background-color: green;
  text-align: center;
  box-shadow: 15px 15px #B0B0B0;
  border-radius: 25px;


}
textarea {
  resize: none;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  border-style: solid;
  border-radius: 20px;
  background-color: pink;
  margin-top: 10px;
}

