body {
  text-align: center;
}

form {
  text-align: center;
  color: red;
  background-color: #D8BFD8;
  margin-top: 60px;
  width :1000px;
}

.big-box {
  display: flex;
  margin-top: 40px;
  height: 80vh;
  align-items: centre;
  justify-content: center;


}

.small-box {
  border-style: solid black;
  background-color: #D8BFD8;
  text-align: center;
  box-shadow: 15px 15px #E6E6FA;
  border-radius: 25px;

}
textarea {
  resize: none;
  width: 100%;
  font-size: 16px;
  border-style: solid;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: 300px;
  width: 800px;
  border-width: 3px;
}
select {
  background-color: #DCDCDC;
  height: 3em;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px;
  border-width: thin;
}


.elementals {
  display: flex;
  flex-flow: row;
  background-color: #D8BFD8;
  align-items: center;
  justify-content: center;
  padding:12px;
  gap: 35px;
}

.submit {
  background-color: #DCDCDC;
  padding: 9px;
  border-radius: 5px;
  border-width: thin;
}
.label {
  font-size: 35px;
  text-align: center;
  color: #000000;
  font-weight: bold;

}