body {
  text-align: center;
  color: blue;
  background-color:red;

}
form {
  text-align: center;
  color: red;
  background-color: black;
}
h1 {
  color: blue;
  text-transform: uppercase;
}

.big-box {
  display: flex;
  justify-content: center;
  align-items: centre;
  height: 60vh;


}

.small-box {
  border-style: solid black;
  border-width: thick;
  padding: 20px
  max-width: 500px;
  background-color: white;
  text-align: center;
  box-shadow: 15px 15px #B0B0B0;
  border-radius: 25px;


}
textarea {
  resize: none;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  border-style: solid;
  border-radius: 50px;
  background-color: pink;
  margin-top: 10px;
}

.controlling-audio {
  display: flex;
  justify-content: center;
  border: 20px;
  align-items: center;
}

.audioPlayer {
  display:none;
}

.play-button {
  margin: 0 40 40 20px;
  visibility: hidden;
  border-radius: 75px;
  background-color: pink;
  align-self: center;

}

.timeline {
  width: 500px;
  height: 50px;
  border-radius: 25px;

}

.submit {
  border-radius: 50px;
  margin-right: auto;
  text-align: center;
  background-color: #B0B0B0;
}
